.qv-comments {
    display: table;
    border-collapse: collapse;
    max-width: 600px;
    margin-bottom: 20px;
    width: 100%;
}

.qv-root-comment-block {
    border-bottom: 1px solid #f0f0f0;
    display: table-row;
    width: 100%;
}

.qv-root-rate-block {
    text-align: center;
    display: table-cell;
    width: 50px;
    padding: 20px 0;
}

.qv-root-current-rating {
    color: #808080;
    font-size: 20px;
}

.qv-root-comment-block-right {
    padding: 20px 0 20px 10px;
}

.qv-root-comment {
    padding-bottom: 10px;
}

.qv-root-comment-info {
    color: #808080;
}

.qv-root-comment-date {
    text-align: right;
}

.qv-root-comment-user {
    text-align: right;
}

.qv-comment-replies {
    display: table;
    border-collapse: collapse;
    border-top: 1px solid #f0f0f0;
    font-size: 13px;
    width: 100%;
}

.qv-comment-reply {
    display: table-row;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
}

.qv-comment-reply:last-child {
    border-bottom: none;
}

.qv-reply-rating {
    display: table-cell;
    white-space: nowrap;
    padding: 5px 10px 5px 0;
    color: #808080;
}

.qv-reply-rate {
    display: table-cell;
    white-space: nowrap;
    padding: 5px 10px 5px 0;
}

.qv-reply-rate > button {
    background: none;
}

.qv-reply-text {
    display: table-cell;
    padding: 5px 0;
    width: 100%;
}

.qv-reply-info {
    white-space: nowrap;
    color: #808080;
}

.qv-rate-down, .qv-rate-down:hover, .qv-rate-down:active, .qv-rate-down:focus {
    color: #bfbfbf;
}

.qv-rate-up, .qv-rate-up:hover, .qv-rate-up:active, .qv-rate-up:focus {
    color: #bfbfbf;
}

.qv-rate-up.active {
    color: #20A020;
}

.qv-rate-down.active {
    color: #CA4343;
}

.qv-reply-rate-btn {
    padding: 4px;
    cursor: pointer;
}

.qv-reply-rate-btn:hover, .qv-reply-rate-btn:focus, .qv-reply-rate-btn:active {
    text-decoration: none;
}

.qv-comment-link-block {
    margin-top: 5px;
}

.qv-comment-reply-link {
    color: #b3b3b3;
}

.qv-comment-reply-link:hover, .qv-comment-reply-link:focus {
    text-decoration: none;
}

.qv-comment-add-form {
    border-collapse: collapse;
    max-width: 600px;
}

.qv-comment-add-form textarea {
    width: 100%;
    resize: vertical;
    outline: none;
}

.qv-comment-add-form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.qv-comment-submit-block {
    text-align: right;
}
